.btn_date{
    margin-right: 5px;
}

.date_calendar{
    margin-left: 10px;
    margin-right: 15px;
}

.div-TimeSeparator{
    padding-bottom: 5px;
    padding-top: 5px;
}

.div-TimeSeparator label, .div-TimeSeparator mat-progress-bar{
    margin:auto;
}

.btn-iconContainer{
    height: 24px;
    width: 24px;
}

.btn-iconContainer mat-icon{
    vertical-align: baseline;
}

.icon-noButton{
    font-size: 24pt;
    margin-top: -5px;
}

#weekcal .mat-form-field-infix{
    width: 140px !important;
}