.div_content{
    padding:0; 
    background-color: #303030; 
    margin: 12px;
}

.status_Canceled{
    color: #ff8800;
    font-size: 1.05em;
}

.status_Missed{
    color: #FFC000;
}

.status_Completed{
    color:#03a9f4;
}

.status_Confirmed{
    color:#23C35D;
}