<div class="content div_content" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card>
    <div class="content" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutGap="20px">
      <div fxFlex="50" style="text-align: left">
        <button mat-raised-button class="btn_side btn_date" (click)="goToPreviousDay()" style="margin-right: 20px">Last Day</button>
        <mat-form-field class="date_calendar" color="accent">
            <input matInput [matDatepicker]="picker" placeholder="Date Selector" name="dp_Date" [(ngModel)]="selectedDate" (dateChange)="getAppointments()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="btn_side btn_date" (click)="goToNextDay()" style="margin-left: 20px">Next Day</button>
      </div>
      <div fxFlex="25">
        <mat-form-field color="accent">
          <mat-select name="ddl_Doctor" placeholder="Doctor" [(ngModel)]="selectedDoctor" (change)="filterAppointments()">
              <mat-option [value]="0" selected>All</mat-option>
              <mat-option *ngFor="let doctor of doctors" [value]="doctor.ID">
                  {{ doctor.FullName }}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25">
        <mat-form-field class="example-full-width" color="accent">
          <input matInput name="txt_participant" placeholder="Search by participant" [(ngModel)]="participant" (keyup)="filterAppointments()">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card class="div-week-calendar-container">
      <div class="example-container mat-elevation-z8" *ngIf="!loading">
          <mat-table #table [dataSource]="appointments" *ngIf="appointments.length > 0">
          
              <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.AppointmentID}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="doctor">
              <mat-header-cell *matHeaderCellDef fxFlex="19"> Doctor </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="19"> {{element.DoctorName}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="participant">
                <mat-header-cell *matHeaderCellDef fxFlex="28"> Participant </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="28"  [matTooltip]="element.ParticipantContactInfo"> 
                  <span *ngIf="!element.info">{{element.ParticipantName}}</span>
                  <span *ngIf="element.info">{{element.ParticipantContactInfo}}</span>
                  <mat-icon (click)="element.info = !element.info" style="vertical-align: middle">contact_phone</mat-icon>
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="time">
              <mat-header-cell *matHeaderCellDef fxFlex="15"> Time </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="15"> {{element.Period}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef fxFlex="7"> Status </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="7" class="status_{{element.StatusName}}"> {{element.StatusName}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef style="text-align: center"> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element" class="div_actionsContainer" style="text-align: center">
                  <button (click)="notify(element, 'sms')" matTooltip="Notify participant via sms" mat-icon-button>
                      <mat-icon>chat</mat-icon>
                  </button>
                  <button (click)="notify(element, 'EMail')" matTooltip="Notify participant via EMail" mat-icon-button>
                      <mat-icon>mail</mat-icon>
                  </button>
                  <button (click)="confirm(element)" matTooltip="Appointment confirmed" mat-icon-button [disabled]="element.Status >= 3" >
                      <mat-icon>done</mat-icon>
                  </button>
                  <button (click)="complete(element)" matTooltip="Appointment completed" mat-icon-button [disabled]="element.Status >= 4" >
                      <mat-icon>done_all</mat-icon>
                  </button>
                  <button (click)="miss(element)" matTooltip="Appointment missed" mat-icon-button [disabled]="element.Status >= 5" >
                      <mat-icon>report_problem</mat-icon>
                  </button>
                  <button (click)="cancel(element)" matTooltip="Appointment missed" mat-icon-button [disabled]="element.Status >= 6" >
                      <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="reset(element)" matTooltip="Reset status" mat-icon-button [disabled]="element.Status <= 2" >
                      <mat-icon>replay</mat-icon>
                  </button>
              </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div class="alert alert-info" role="alert" *ngIf="appointments.length == 0"><b>Sorry!</b> No contributions were processed for that plan/plans during the selected period.</div>
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
