.spn_detailField{
    font-size: 1.03em;
}

.spn_detailFieldName{
    color: lightgray;
}

.div_detailRow{
    margin-bottom: 25px;
}

.img_approvedSignature{
    max-width: 500px; 
    max-height: 120px; 
    margin-left: 20px; 
    vertical-align: top; 
    background-color: white;
}