<mat-card>
  <form class="example-form" >
    <div class="content" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutGap="30px">
      <mat-form-field fxFlex="30" color="accent">
        <mat-select name="ddl_AppDoctor" placeholder="Doctor" [(ngModel)]="selectedNoteDoctor">
            <mat-option [value]="0" selected>Please Select</mat-option>
            <mat-option *ngFor="let doctor of doctors" [value]="doctor.ID">
                {{ doctor.FullName }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="30" color="accent">
        <mat-select name="ddl_AppParticipant" placeholder="Participant" [(ngModel)]="selectedNoteParticipant">
            <mat-option [value]="0" selected>Please Select</mat-option>
            <mat-option *ngFor="let participant of participants" [value]="participant.ID">
                {{ participant.FullName }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="30" color="accent">
        <input matInput [matDatepicker]="picker" placeholder="Visit Date" name="dp_Date" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    
    
    <!-- This block below varies depending on the Note -->

    <!-- Example, taken from the Test Note -->
    <!-- <div style="padding: 12px">
      <div>
        <mat-form-field fxFlex="95" color="accent">
          <textarea matInput name="txa_Brief" placeholder="Brief" matTextareaAutosize matAutosizeMinRows="1"
                    matAutosizeMaxRows="2" [(ngModel)]="data.Brief"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex="95" color="accent">
          <textarea matInput name="txa_Comments" placeholder="Comments" matTextareaAutosize matAutosizeMinRows="1"
                    matAutosizeMaxRows="5" [(ngModel)]="data.Comments"></textarea>
        </mat-form-field>
      </div>
    </div> -->
    
    <!-- The block above varies depending on the Note -->


    <div style="padding: 12px">
        <button mat-raised-button class="btn_side" style="margin-right: 15px" (click)="complete()">Save</button>
        <button mat-raised-button class="btn_side" (click)="cancel()">Cancel</button>
    </div>
  </form>
</mat-card>


