<div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card fxFlex="100" style="padding:0">
    <div class="content" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px" style="padding:0; background-color: #303030">
      <mat-card>
        <div class="content" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutGap="20px">
          <div fxFlex="50" style="text-align: left">
            <button mat-raised-button class="btn_side btn_date" (click)="goToPreviousDay()" style="margin-right: 20px">Last Day</button>
            <mat-form-field class="date_calendar" color="accent">
                <input matInput [matDatepicker]="picker" placeholder="Week Selector" name="dp_Date" [(ngModel)]="selectedDate" (dateChange)="getAppointments()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button class="btn_side btn_date" (click)="goToNextDay()" style="margin-left: 20px">Next Day</button>
          </div>
          <div fxFlex="25">
            <mat-form-field color="accent">
              <mat-select name="ddl_Doctor" placeholder="Doctor" [(ngModel)]="selectedDoctor" (change)="filterAppointments()">
                  <mat-option [value]="0" selected>All</mat-option>
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor.ID">
                      {{ doctor.FullName }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25">
            <mat-form-field class="example-full-width" color="accent">
              <input matInput name="txt_participant" placeholder="Search by participant" [(ngModel)]="participant" (keyup)="filterAppointments()">
            </mat-form-field>
          </div>
        </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="notes">
        
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="doctor">
              <mat-header-cell *matHeaderCellDef fxFlex="20"> Doctor </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20"> {{element.DoctorName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="participant">
              <mat-header-cell *matHeaderCellDef fxFlex="19"> Participant </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="19"> {{element.ParticipantName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef fxFlex="13"> Created </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="13"> {{element.Created | date}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="category">
              <mat-header-cell *matHeaderCellDef fxFlex="20"> Category </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20"> {{element.CategoryFriendlyName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef fxFlex="13" style="text-align: center"> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="13" style="text-align: center"> 
                  <mat-icon (click)="goToAction('participantdetails', element)" matTooltip="Details">description</mat-icon>
                  <mat-icon (click)="goToAction('editparticipant', element)" matTooltip="Edit">edit</mat-icon>
                  <mat-icon (click)="deleteEntry(element.ID)" matTooltip="Delete">delete</mat-icon>
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <!-- <div class="alert alert-info" role="alert"><b>Sorry!</b> No contributions were processed for that plan/plans during the selected period.</div> -->
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-card>
    </div>
  </mat-card>


</div>
